body {
  background: radial-gradient(
    400px at 0.6% 77.9%,
    rgb(221, 255, 214) 0.5%,
    rgb(214, 254, 254) 90.5%
  );
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.body-wrapper {
  background-color: white;
  max-width: 600px;
  padding: 30px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

a {
  color: #ff9234;
}

header {
  border-bottom: 1px solid #fefed5;
  padding: 0 0 30px 0;
}

#search-form-input {
  background-color: #fefed5;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

#search-form-button {
  background-color: #ff9234;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

main {
  padding: 30px 0;
}

#main-section-positioning {
  display: flex;
  justify-content: space-between;
}

#weather-city-name {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

#current-weather-data {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 400;
}

#current-weather-data strong {
  color: #35d0ba;
}

#weather-emoji {
  width: 80px;
  height: 80px;
  position: relative;
  top: 5px;
  margin-right: -6px;
}

#weather-value {
  font-size: 80px;
  font-weight: bold;
}

#weather-unit {
  font-size: 28px;
  position: relative;
  top: -40px;
}

.weather-forecast {
  margin: 20px 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.forecast-day {
  color: #ff9234;
  font-size: 17px;
}
.forecast-temperature {
  font-size: 15px;
  color: #35d0ba;
}

.forecast-maximum {
  font-weight: 700;
}
.forecast-minimum {
  font-weight: 400;
}

footer {
  border-top: 1px solid #fefed5;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
